
.icon-mail:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-globe-1:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */